</div>
</div>
<!-- Footer -->
<div id="footer" class="footer">
    <p class="footer-links">
        <a href="/support" target="_blank">Help</a> | <a href="/terms"
            target="_blank">Terms of Service</a> | <a href="/privacy" target="_blank">Privacy
            Policy</a> | <a href="/discord" target="_blank">Discord</a> | <a
            href="/bsky" target="_blank">Bluesky</a>
    </p>
    <p class="footer-text">Much visual content is the property of The Walt Disney Company. <br>Club Penguin
        Adventure does not claim to have exclusive control or authorization to use these assets. </p>
</div>
</body>

</html>